<div class="padding-5 user-card" *ngIf="user">
  <p-card title="Kevin Bustamante" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <!-- <img src="Card" src="assets/showcase/images/usercard.png"> -->
        <div class="text-center padding-20">
            <img class="profile-image" src="{{user.image}}" alt="{{user.firstName}}">
        </div>
    </p-header>
    <div class="user-card-description text-center">
        <div>
            {{user.skills[0]}}
        </div>
        <div>
            {{user.city + ', ' + user.country}}
        </div>
    </div>
    <div class="ui-g text-center user-connections">
        <div class="ui-g-6">
            <i class="fa fa-user-o"></i> {{user.connections ? user.connections.length : 0}}
        </div>
        <div class="ui-g-6">
            <i class="fa fa-heart-o"></i> {{user.followers ? user.followers.length : 0}}
        </div>
    </div>
    <p-footer>
        <button *ngIf="user.connected && !user.pending" pButton type="button" label="CHAT" class="ui-button-secondary"></button>
        <button *ngIf="user.connected && user.pending" pButton type="button" label="CATCH UP" class="ui-button-secondary"></button>
        <button *ngIf="!user.connected" pButton type="button" label="HIT ME UP" class="ui-button-secondary"></button>
    </p-footer>
  </p-card>
</div>
