.profile-image {
    border-radius: 50%;
    height: 100px !important;
    width: 100px !important;
}

.user-connections {
    padding: 20px 75px 0;
}

.user-card-description {
    padding: 0 20px !important;
}