<app-panel-search>
    <app-panel-search-field>
      <span class="ui-float-label">
        <input [(ngModel)]="searchItem.skill" id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Skill</label>
      </span>
    </app-panel-search-field>
    <app-panel-search-dropdown>
      <p-dropdown [options]="locations" [(ngModel)]="searchItem.location" [style]="{'width':'150px'}" filter="true">
        <ng-template let-item pTemplate="selectedItem">
            <!-- <img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" /> -->
            <span style="vertical-align:middle">{{item.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/> -->
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </app-panel-search-dropdown>
    <app-panel-search-button>
      <button pButton type="button" (click)="submit()" icon="fa-search" label="FIND" class="ui-button-primary"></button>
    </app-panel-search-button>
  </app-panel-search>