<app-search-section (onSubmit)="submit($event)"></app-search-section>
<div class="">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <h2>Matching results</h2>
    </div>
    <div class="ui-g-12 ui-md-6">
      <app-dropdown-filters (sortBy)="sortBy($event)" (filterBy)="filterBy($event)"></app-dropdown-filters>
    </div>
  </div>

  <app-result-section [data]="data"></app-result-section>
  <p-paginator
    (onLazyLoad)="loadData($event)"
    (onPageChange)="loadData($event)"
    [rows]="rows" [totalRecords]="len" [rowsPerPageOptions]="[4, 8, 12]">

  </p-paginator>
</div>
