<div class="panel-search-section ui-md-4 ui-md-offset-4">
  <div class="padding-5">
    <div class="search-field">
      <ng-content select="app-panel-search-field"></ng-content>
    </div>
    <div class="search-field">
      <ng-content select="app-panel-search-dropdown"></ng-content>
    </div>
  </div>
  <div class="padding-5">
    <ng-content select="app-panel-search-button"></ng-content>
  </div>
</div>