<div class="ui-g pull-right">
  <div class="filter-by">
    <p-dropdown [options]="filterByOptions" (ngModelChange)="filterByChange($event)" [(ngModel)]="filterByModel" [style]="{'width':'150px'}" filter="true">
      <ng-template let-item pTemplate="selectedItem">
        <span style="vertical-align:middle">{{item.label}}</span>
      </ng-template>
      <ng-template let-sort pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <div style="font-size:14px;float:right;margin-top:4px">{{sort.label}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="sort-by">
    <p-dropdown [options]="sortByOptions" (ngModelChange)="sortByChange($event)" [(ngModel)]="sortByModel" [style]="{'width':'150px'}" filter="true">
      <ng-template let-item pTemplate="selectedItem">
        <i class="fa fa-sort-amount-{{item.value.icon}}"></i>
        <span style="vertical-align:middle">{{item.label}}</span>
      </ng-template>
      <ng-template let-sort pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <i class="fa fa-sort-amount-{{sort.value.icon}}"></i>
          <div style="font-size:14px;float:right;margin-top:4px">{{sort.label}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
