/* You can add global styles to this file, and also import other style files */

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-50 {
    padding: 50px;
}

.text-center {
    text-align: center;
}


/* Start Override prime card */
.ui-card {
    border-top: 5px solid orange;
}

.ui-card-body {
    padding: 0;
}

.ui-card-title {
    text-align: center;
}
/* End Override prime card */

/* Start Override Prime button */
.user-card .ui-button,
.panel-search-section .ui-button {
    color: white !important;
    height: 50px;
}
.ui-button-primary {
    background-color: orange !important;
}
.ui-button-secondary {
    background-color: #42BDA1 !important;
}
/* End Override Prime button */

/* Start Override Prime input */
app-search-section .ui-inputtext,
app-result-section .ui-inputtext {
    height: 50px;
}
/* End Override Prime input */

app-search-section .ui-dropdown,
app-search-section .ui-inputtext,
app-search-section .ui-button,
app-result-section .ui-button,
app-result-section .ui-card {
  width: 100% !important;
}

app-dropdown-filters .sort-by .ui-dropdown {
  width: 250px !important;
}

app-dropdown-filters .filter-by .ui-dropdown {
  width: 150px !important;
}

.filter-by, .sort-by {
  padding: 5px;
}
